* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #22212c;
  justify-content: center;
}

.container {
  display: flex;
}

section:nth-child(1) {
  width: 25rem;
  height: 100%;
  margin-top: 2.5rem;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 292px;
  text-align: center;
  border-radius: 1.25rem;
  background-color: #302f3d;
}

.basicInfo .photo img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-top: 2rem;
}

.basicInfo .name {
  font-family: 'Merriweather Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  margin-top: 1.875rem;
  color: #837e9f;
}

.basicInfo .bio {
  font-family: 'Merriweather Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8125em;
  line-height: 1rem;
  margin-top: 0.625rem;
  color: #837e9f;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 14.75rem;
  margin-top: 2.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-top: 1.875rem;
  background-color: #302f3d;
}

.socialMedia .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Merriweather Sans';
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 0.9375em;
  padding-top: 1.25rem;
  margin-left: 2.5rem;
  color: #837e9f;
}

.socialMedia .item a {
  color: #837e9f;
}

.socialMedia .item .location,
.company,
.github,
.linkedin,
.email {
  display: flex;
  align-items: center;
}

.socialMedia .item img {
  margin-right: 0.5rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 19.5rem;
  justify-content: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  text-align: center;
  border-radius: 1.25rem;
  background-color: #302f3d;
}

.technologies .text {
  width: 100%;
  padding-top: 1.25rem;
  text-align: center;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #837e9f;
}

.technologies .item {
  display: flex;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 0.625em;
  line-height: 0.8125rem;
  text-align: center;
  color: #000;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 2.4rem;
  border-radius: 1.875rem;
  background: #cb92b1;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-inline: 0.35rem;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10.75rem;
  margin-top: 2.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-top: 1.875rem;
  background-color: #302f3d;
}

.experience .text {
  width: 100%;
  padding-top: 1.25rem;
  text-align: center;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #837e9f;
}

.experience .textExperience {
  padding-left: 2.5rem;
  text-align: left;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #837e9f;
}

.experience .textExperience ul li {
  margin-top: 1.25rem;

  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #837e9f;
}

.education {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10.75rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-top: 1.875rem;
  background-color: #302f3d;
}

.education .text {
  width: 100%;
  padding-top: 1.25rem;
  text-align: center;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #837e9f;
}

.education .textEducation ul li {
  margin-top: 1.25rem;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #837e9f;
}

.education .textEducation {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: left;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #837e9f;
}

section:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 70rem;
  height: 100%;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

section .textProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  padding: 1.5rem;
  margin-top: 2.5rem;
  border-radius: 1.25rem;
  background-color: #302f3d;
}

section .textProjects h1 {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #837e9f;
}

section .textProjects h2 a {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #837e9f;
}
