.sectionRepository {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-self: center;

  width: 100%;
}

.item {
  width: 20rem;

  color: #837e9f;
  background-color: #302f3d;
  border-radius: 1.25rem;

  padding: 1rem;
  margin: 1rem 0;
  margin-inline: 1rem;
}

.title a {
  display: inline-block;
  color: #837e9f;
  font-weight: 700;
  font-size: 1rem;
}

.statsNumber img,
.languageIcon img {
  margin-right: 0.5rem;
}

.description {
  font-weight: 400;
  font-size: 0.875rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin-top: .5rem;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 0.875rem;

  margin-top: 1rem;
}

.statsNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stars {
  margin-inline-end: 1rem;
}

.languageIcon {
  display: flex;
}

@media (max-width: 1650px) {}