.sectionRepository {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 70rem;
}

.title a {
  display: inline-block;
  color: #837e9f;
  font-weight: 700;
  font-size: 1rem;
}

.statsNumber img,
.languageIcon img {
  margin-right: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  width: 24.25rem;
  height: 6rem;

  padding: 1.25rem;
  border-radius: 1.25rem;

  background-color: #302f3d;
  margin: 1rem 0 1rem;
  margin-inline: 1.25rem;
  color: #837e9f;
  line-height: 1.25rem;
}

.description {
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 1.25rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: 1rem;
}

.statsNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stars {
  margin-inline-end: 1rem;
}

.languageIcon {
  display: flex;
}
